<div class="container">
  <div class="row">
    <div class="job_wrapper">
      <div class="d-flex flex-wrap">
        <% @parents.where.not(id: 1).each do |parent|%>
          <div class="col-4">
            <div class="job-genres">
                <span href="#chapter#{parent.id}"><%= parent.name %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="job-head", style="margin-top: 5em;">
  <h1 class="job-title">職業一覧</h1>
</div>

<div class="container">
  <div class="row", style="margin-top: 10px;">
    <div class="d-flex flex-column">
    <% @parents.where.not(id: 1).each do |parent|%>
      <div class="col-12">
        <ul class="job-genre-details">
          <li><%= parent.name %></li>
        </ul>
          <% parent.children.each do |child|%>
          <ul>
            <li><%=link_to child.name, job_path(child.id) %></li>
          </ul>
          <% end %>
      </div>
    <% end %>
  </div>
</div>