<div class="container">
  <div class="row">
    <div class="job_wrapper">
      <div class="d-flex flex-wrap">
        <% @parents.where.not(id: 1).where.not(id: 2).each do |parent|%>
          <div class="col-4">
            <div class="job-genres">
                <%= parent.name %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="job-head", style="margin-top: 5em;">
  <h1 class="job-title">職業一覧</h1>
</div>

<div class="container">
  <div class="row", style="margin-top: 10px;">
    <div class="d-flex flex-column">
    <% @parents.where.not(id: 1).where.not(id: 2).each do |parent|%>
      <div class="col-12">
        <div class="job-genre-details">
          <h4><%= parent.name %></h4>
        </div>
        <%# <div> %>
          <%# <p>この職業はです。</p> %>
        <%# </div> %>
          <% parent.children.each do |child|%>
          <div>
            <h6><%=link_to child.name, job_path(child.id) %></h6>
          </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>