<div class="container">
  <div class="row">
    <div class="job_wrapper">
      <div class="d-flex flex-wrap">
        <% @parents.where.not(name: "学生").each do |parent|%>
          <div class="col-4">
          <div class="section s_01">
          <div class="accordion_one">
             <div class="accordion_header"><%= parent.name %><i class="one_i"></i></div>
            <div class="accordion_inner">
            <div class="box_one">
            <% parent.children.each do |child|%>
            <p class="txt_a_ac"><%=link_to child.name, job_path(child.id), class: "job-name"%></p>
            <% end %>
            </div>
            </div>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>