  <div class="row">
      <% @JobGenres.where.not(id: 1).each do |jobgenre|%>
        <div class="col-4">
          <div class="job-genres">
              <%= jobgenre.name %>
          </div>
        </div>
      <% end %>
  </div>
