<div class="top-content">
  <%= image_tag 'enjoy.png', class: 'header-image'%>
  <p class="home-p1">あなたの人生に新たな選択肢を</p>
  <p class="home-p2">あなたの知ってる業種はどれくらいありますか？</p>
  <p class="home-p3">実際に調べてみましょう</p>
</div>

