<div class="top-content">
  <%= image_tag 'enjoy.png', class: 'header-image'%>
  <p class="home-p1">あなたの知ってる業種はどれくらいありますか？</p>
  <p class="home-p2">実際に調べてみましょう</p>
  <%= link_to 'ゲストログイン(閲覧用)', user_guest_sign_in_path, method: :post, class: 'home-p3' %>

</div>

