/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

@import '~bootstrap/scss/bootstrap';


/*------------------------------------
- COLOR brown
------------------------------------*/
.alert-brown {
  color: #724d3b;
  background-color: #fbfaf9;
  border-color: #f4eeeb;
}

.alert-brown hr {
  border-top-color: #ece0da;
}

.alert-brown .alert-link {
  color: #51372a;
}

.badge-brown {
  color: #212529;
  background-color: #b68973;
}

.badge-brown[href]:hover, .badge-brown[href]:focus {
  color: #212529;
  background-color: #a16d54;
}

.bg-brown {
  background-color: #b68973 !important;
}

a.bg-brown:hover, a.bg-brown:focus,
button.bg-brown:hover,
button.bg-brown:focus {
  background-color: #a16d54 !important;
}

.border-brown {
  border-color: #b68973 !important;
}

.btn-brown {
  color: #212529;
  background-color: #b68973;
  border-color: #b68973;
}

.btn-brown:hover {
  color: #212529;
  background-color: #a9755b;
  border-color: #a16d54;
}

.btn-brown:focus, .btn-brown.focus {
  box-shadow: 0 0 0 0.2rem rgba(182, 137, 115, 0.5);
}

.btn-brown.disabled, .btn-brown:disabled {
  color: #212529;
  background-color: #b68973;
  border-color: #b68973;
}

.btn-brown:not(:disabled):not(.disabled):active, .btn-brown:not(:disabled):not(.disabled).active, .show > .btn-brown.dropdown-toggle {
  color: #212529;
  background-color: #a16d54;
  border-color: #97664f;
}

.btn-brown:not(:disabled):not(.disabled):active:focus, .btn-brown:not(:disabled):not(.disabled).active:focus, .show > .btn-brown.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(182, 137, 115, 0.5);
}

.btn-outline-brown {
  color: #b68973;
  background-color: transparent;
  border-color: #b68973;
}

.btn-outline-brown:hover {
  color: #212529;
  background-color: #b68973;
  border-color: #b68973;
}

.btn-outline-brown:focus, .btn-outline-brown.focus {
  box-shadow: 0 0 0 0.2rem rgba(182, 137, 115, 0.5);
}

.btn-outline-brown.disabled, .btn-outline-brown:disabled {
  color: #b68973;
  background-color: transparent;
}

.btn-outline-brown:not(:disabled):not(.disabled):active, .btn-outline-brown:not(:disabled):not(.disabled).active, .show > .btn-outline-brown.dropdown-toggle {
  color: #212529;
  background-color: #b68973;
  border-color: #b68973;
}

.btn-outline-brown:not(:disabled):not(.disabled):active:focus, .btn-outline-brown:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-brown.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(182, 137, 115, 0.5);
}

.list-group-item-brown {
  color: #724d3b;
  background-color: #f4eeeb;
}

.list-group-item-brown.list-group-item-action:hover, .list-group-item-brown.list-group-item-action:focus {
  color: #724d3b;
  background-color: #ece0da;
}

.list-group-item-brown.list-group-item-action.active {
  color: #212529;
  background-color: #724d3b;
  border-color: #724d3b;
}

.table-brown,
.table-brown > th,
.table-brown > td {
  background-color: #f4eeeb;
}

.table-hover .table-brown:hover {
  background-color: #ece0da;
}

.table-hover .table-brown:hover > td,
.table-hover .table-brown:hover > th {
  background-color: #ece0da;
}

.text-brown {
  color: #b68973 !important;
}

a.text-brown:hover, a.text-brown:focus {
  color: #a16d54 !important;
}
