.header{
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #F5F2F0;
  padding: 10px;
}

.p-10 {
  padding: 10px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-image{
  width: 100%;
  height: calc(100vh - 100px);
}

.top-content{
  position: relative;
}


.home-p1{
  position: absolute;
  color: black;
  top: 90px;
  left: 360px;
  font-size: 35px;
  font-weight: 600;
}
.home-p1-2{
  position: absolute;
  color: black;
  top: 160px;
  left: 290px;
  font-size: 35px;
  font-weight: 600;
}
.home-p2{
  position: absolute;
  color: black;
  top: 300px;
  left: 500px;
  font-size: 35px;
  font-weight: 600;
}
.home-p3{
  position: absolute;
  color: black;
  top: 500px;
  left: 500px;
  font-size: 35px;
  font-weight: 300;
  background-color: royalblue;
  border-radius: 10px;
  padding: 8px;
}