.job-head{
  font-size: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.job-title{
  font-weight: bold;
}
.job_new{
  font-size: 15px;
}

.job-contents{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.job-content{
  border: 2px solid green;
}