// 職業目次
.job-head{
  font-size: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}
.job-title{
  font-weight: bold;
}
.job-genres{
  border-spacing: 5px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  background-color: #e4d4bc;
  border: solid 1px #af9d85;
  margin: 10px;
}
.job-genres:hover{
  color: white;
  background-color: brown;
}
.job_wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// 職業一覧
.job-genre-details{
  margin: 10px auto;
  background-color: #e4d4bc;
  border: solid 1px #af9d85;
  border-radius: 10px;
  width: 80vw;
  padding: 10px;
}
// 職業詳細
.job-edit{
  font-size: 15px;
}
.job-heading-index{
  border: 2px solid #b68973;
  height: 100%;
  width: 100%;
  margin: 5em auto;
  max-width: 650px;
  padding: 50px;
}
.border {
  border-top: dashed 1px skyblue;
}
.job-contents{
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.content-name{
  font-size: 20px;
  margin: 10px 0;
}

.job-subheading{
  text-align: center;  
}
.job-subheading-content{
  margin: auto 30vw;
  position: relative;

}
.job-subheading-font{
  width: 30vw;
  font-size: 30px;
  color: black;
}
.job-subheading-font::after{
  content:"";
  display:block;
  width: 140px;
  height: 7px;
  background-color: #b68973;
  position:absolute;
  bottom: -10px;
  left: 220px;
  border-radius: 10px; 
}
.job-text-box{
  border: 1px solid #b68973;
  margin: 30px;
  padding: 20px;
  height: 40vh;
  text-align: left;
  border-radius: 8px;
}
.job--edit-text-box{
  border: 1px solid #b68973;
  margin: 30px;
  padding: 20px;
  height: 40vh;
  text-align: left;
  border-radius: 8px;
  width: 95vw;
}