.join-member{
  text-align: center;
}
.overflow-scroll{
  overflow-y: auto;
  height: 70vh;
}
.join-member{
  font-size: 20px;
}
.says{
  position: relative;
  width: calc(100% - 56px);
  margin: 1.5em 15px 1.5em 0;
  padding: 10px;
  min-width: 800px;
  max-width: 800px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}
.says:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}
.other-user-says{
  float: right;
  position: relative;
  width: calc(100% - 56px);
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 800px;
  max-width: 800px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  word-break: break-all;
  border-radius: 15px;
}
.other-user-says:after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.fixed-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-text{
  width: 70vw;
  height: 12vh;
}
.chat-image{
  border-radius: 50%;
  border: 2px solid black; 
}
.chat-icon{
  text-align: center;
}
.chat-icon1{
  margin-top: 5px;
}
.chat-image-size{
  width: 80px;
  height: 80px;
}