.join-member{
  text-align: center;
  margin: 15px;
}
.overflow-scroll{
  overflow-y: auto;
  height: 65vh;
  background-color: white;
}
.join-member{
  font-size: 20px;
}
.says{
  position: relative;
  width: calc(100% - 56px);
  margin: 1.5em 15px 1.5em 0;
  padding: 10px;
  min-width: 800px;
  max-width: 800px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}
.says:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}
.other-user-says{
  float: right;
  position: relative;
  width: calc(100% - 56px);
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 800px;
  max-width: 800px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  word-break: break-all;
  border-radius: 15px;
}
.other-user-says:after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.fixed-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-text{
  width: 70vw;
  height: 12vh;
}
.chat-area{
  background-color: white;

}
.chat-image{
  border-radius: 50%;
  border: 2px solid black; 
}
.chat-icon{
  text-align: center;
}
.chat-icon1{
  margin-top: 5px;
}
.chat-image-size{
  width: 80px;
  height: 80px;
}

// チャットルーム一覧
.room-index-border{
  border: 3px solid #6cbf84;
  border-radius: 8px;
  height: 30vh;
  width: 30vw;
  margin: 20px;
}
.room-index-contain{
  padding: 25px;
  text-align: center;
  font-size: 28px;
  background-color: white;
}
.room-index-chat{
  margin-top: 20px;
}
.chat-submit{
  margin-left: 20px;
}
.room-btn{
  font-size: 25px;
  border: solid 1px green;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  color : inherit;  
  margin-top: 20px;
}
.room-btn:hover{
  color: white;
  background-color: #308645;
  text-decoration: none;
}
.chat-user-name{
  text-decoration: underline;
  color : inherit;
}
.chat-user-name:hover{
  text-decoration: none;
}