// ユーザー詳細
.profile-head{
  text-align: center;
  margin: 20px auto;
}

.profile-image{
  border-radius: 50%;
  border: 2px solid black; 
  margin: 20px auto;
  background-color: white;
  margin-top: 50px;
}

table{
  margin: 20px auto;
  text-align: center;
  width: calc(100vw - 40vw);
  background-color: white;
}
td {
  height: 100px;
  border: 1px solid black; 
}
th{
  height: 100px;
  border: 1px solid black; 
}
.chat-box{
  text-align: center;
  margin-top: 40px;
}
